In [2]:
pp = str(int(7 + 8.0)) 
print(pp + " happy".upper() + "!")

15 HAPPY!

In [3]:
city = "Tokyo" 
print(ctiy)

NameError: name 'ctiy' is not defined

In [5]:
print (print("PythonPrograms", end = ' '))

PythonPrograms None

In [9]:
lottery = [3, 12, 19, 30, 42, 59] 
lottery.reverse() 
lottery.reverse() 
print(lottery)

[3, 12, 19, 30, 42, 59]

In [10]:
a={3,4,5} 
b={5,6,7} 
a|b

{3, 4, 5, 6, 7}

In [15]:
Num = (56,7,8,9,34,56,78,89)

print(sorted(Num , reverse = False))

[7, 8, 9, 34, 56, 56, 78, 89]

In [16]:
lst = [3, 4, 5, 20, 5, 25, 1, 3] 
lst.pop(1) 
lst

[3, 5, 20, 5, 25, 1, 3]

In [17]:
for i in range(3,3): 
    print(i)

In [20]:
for val in "goTTa caTch Them all": 
    if val == "T": 
        break 
    elif val == 'a': 
        pass 
    else: 
        print(val, end=' ') 
print("Pokemon")

g o Pokemon

In [38]:
speed = 77 
speed_limit = 65 
if speed < speed_limit: 
    print("You're all good!") 
if speed > speed_limit: 
    print("Warning! You're over the speed limit.") 
if speed > speed_limit + 10: 
    print("Reckless driving!")

Warning! You're over the speed limit.
Reckless driving!

In [74]:
import datetime
today= datetime.date(2019,10,29) 
birthday=datetime.date(2019,12,29) 
num_days_for_bday=birthday-today 
print(num_days_for_bday)

61 days, 0:00:00

In [29]:
string = 'pRogRAMmIng' 
string.swapcase()

'PrOGramMiNG'

In [67]:
import numpy as np
arr = np.array([1,22,36,24,5,6])


list(map(lambda x: 1 if(x%2==0) else 1, a))

[1, 1, 1]

In [35]:
arr1 = np.array([[1,0,3],[4,5,6],[7,8,9]]) 
arr2 = np.eye(3) 
sum(arr1) + sum(arr2)

array([13., 14., 19.])

In [37]:
arr1 = np.array([[1,2],[4,5]]) 
arr2 = np.eye(2) 
dot = arr1.dot(arr2) 
mul = arr1 * arr2 
print(dot + mul)

[[ 2.  2.]
 [ 4. 10.]]

In [48]:
import pandas as pd
s1 = pd.Series([1, 2, 5, 6.5]) 
s2 = pd.Series(['first', 35, 'college', 62.5])
s2.dtype

dtype('O')

In [51]:
s2.iloc[0]
"first".equals(s2.loc['first'])

AttributeError: 'str' object has no attribute 'equals'

In [63]:
import pandas as pd
df = pd.DataFrame({'Subject': ['Maths', 'Physics', 'Chemistry', 'Biology', 'Geology'], 
                   'Score': [345, 432, 456, 234, 254]},
                 columns = ['Subject', 'Score']) 
df.to_dict(orient='dict')

{'Subject': {0: 'Maths',
  1: 'Physics',
  2: 'Chemistry',
  3: 'Biology',
  4: 'Geology'},
 'Score': {0: 345, 1: 432, 2: 456, 3: 234, 4: 254}}

In [72]:
pd.options.display.float_format = '{:.4f}'.format
s1 = pd.Series([1, 2, 5, 6.5]) 
s1

0   1.0000
1   2.0000
2   5.0000
3   6.5000
dtype: float64